@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.container{
	width: 50%;
	margin: auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 500;
  padding: .5rem;
}

nav a:hover {
	background-color: #ddd;
	color: #0056b3;
	font-weight: bold;
	border-radius: 1rem;
}

main {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.alert {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
